<h1>Login</h1>

<%= form_tag sessions_path do %>
	<span>Email: </span><br>
	<%= text_field_tag :email %><br>
	<span>Password: </span><br>
	<%= password_field_tag :password %><br>
	<%= submit_tag "Login" %>
<% end %>