<!-- UPDATE PROFILE PAGE -->
<div class="form">
    <div>
<%= form_for @user do |f| %>
	<p>First Name:</p>
		<%= f.text_field :first_name %>
	</div>
    </br>
    <div>
    <p>Last Name:</p>
    	<%= f.text_field :last_name %>
    </div>
    </br>
    <small>Should add forms for editing Bio, Home Base, and Profile Pic.</small>
    </br>
    <%= f.submit "update", class:"btn btn-primary"%>
<% end %>
</div>