<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @user[:first_name] %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_path(@user) %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<div class="row">
		<div id="profile-info" class="col-sm-3">
			<h3>Username</h3>
			<img src="http://placehold.it/200x200" alt="profile photo">
			<p></p> <!-- padding -->
			<p><strong>Home Base: </strong>SoMa</p>
			<p><strong>Favorite Topic: </strong><small>(generated from which subject tag is in most of their posts)</small></p>
			<div class="row">
				<div class="col-sm-4 stats">
					<p>Following (#)</p>
				</div>
				<div class="col-sm-4 stats">
					<p>Followers (#)</p>
				</div>
				<div class="col-sm-4 stats">
					<p>Posts</br>(#)</p>
				</div>
			</div>
			<p></p> <!-- padding -->
			<p>Bio</p>
      <p><strong>Join Date: </strong><small>get data from user create</small></p>
		</div>
		<div id="profile-data" class="col-sm-offset-1 col-sm-6">
			<h3>Posts</h3>
			<p>Welcome, <%= @user.email %></p>
		</div>
		<div id="map-space" class="col-sm-offset-1 col-sm-6">
			<h3>Map</h3>
			<p><small>(Idea: with pins that correspond with the locations of their posts)</small></p>
		</div>
	</div>
</div>
<style>
	#profile-info {
		text-align: center;
	    outline: navy solid;
	    padding-bottom: 150px;
	}
	#profile-data {
	    outline: navy solid;
	    padding-bottom: 300px;
	}
	#map-space {
	    outline: navy solid;
	    padding-bottom: 150px;
	}
	.stats{
		outline: navy solid thin;
	}
</style>