<%= form_for @post do |f| %>
	<div>
	<p>Title:</p>
		<%= f.text_field :title %>
	</div>
    <br>
    <div>
    <p>Body:</p>
    	<%= f.text_field :body %>
    </div>
    <br>

    <%= f.submit "update", class:"btn btn-primary"%>
<% end %>