<div id="homepg_jumbo" class="jumbotron" style= "background: url(<%= asset_url 'GGBridge' %>); background-position: center; background-size: 100%">
  <h1><span class="app-title">HOOD</span>SF</h1>
  <h3>Keep up with your city.</h3>
</div>
<div class="container">
  <div class="col-sm-offset-4 col-sm-4" align="center">
      <span class="label">Castro</span>

      <span class="label"><%= link_to "Castro", '/locations/1' %></span>

      <span class="label">Chinatown</span>
      <span class="label">Dogpatch</span>
      <span class="label">Embarcadero</span>
      <span class="label">Financial District</span>
      <span class="label">Haight</span>
      <span class="label">Hayes Valley</span>
      <span class="label">Marina</span>
      <span class="label">Mission</span>
      <span class="label">Mission Bay</span>
      <span class="label">Nob Hill</span>
      <span class="label">Noe Valley</span>
      <span class="label">Richmond</span>
      <span class="label">Russian Hill</span>
      <span class="label">Sunset</span>
      <span class="label">Tenderloin</span>
      <hr>
  </div>
</div>
<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    <% @posts.each do |post| %>
      <h4><%= link_to post.title, post_path(post) %></h4>
        <p class="preview_text"><small>I really want to find a way to take the first xx characters of a post and make a preview of it.</small></p>
      <hr>
    <% end %>
  </div>
</div>