<!-- <div align="center">
Don't have an account?
<%= button_to "Sign Up", sign_up_path, :class => 'btn', :method => :get %>
<%= button_to "Login", login_path, :class => 'btn', :method => :get %>
</div> -->

<div class="jumbotron" style="background: url(<%= asset_url GGBridge %>); background-position: center; background-size: 100%">
  <h1>EVIL SF</h1>
  <h3>Description of App</h3>
</div>

<div>
  <p>Space for tags</p>
</div>

<div>
<% @posts.each do |post| %>
        <h4><%= link_to post.title, post_path(post) %></h4>
        <ul>
          <p class="preview_text"><small>I really want to find a way to take the first xx characters of a post and make a preview of it.</small></p>
        </ul>
        <hr>
      <% end %>
</div>
<!-- Neighborhood Name Splash -->
<!-- <div class="jumbotron text-center">
  <div class="container">
   <h1>Neighborhood Name</h1>
  </div>
</div> -->

<!-- Page Content -->
<!-- <div class="container"> -->

<!-- Neighborhood Navigation Area -->
<!-- <div class="col-sm-12">
		<div class="row">
      <div class="col-md-5">
          <a href="#">
              <img class="img-responsive" src="http://placehold.it/200x200" alt="">
          </a>
      </div>
      <div class="col-md-7">
          <h3>Article Title</h3>
          <h5>In: Food, Activities</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
          <a class="btn btn-primary" href="#">View Article <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
  	</div>
</div> --> <!--Post /.container -->




<!-- </div> --> <!--Page /.container -->

