<div id="homepg_jumbo" class="jumbotron" style= "background: url(<%= asset_url 'GGBridge' %>); background-position: center; background-size: 100%">
  <h1><strong>HOOD</strong>SF</h1>
  <h3>Keep up with your city.</h3>
</div>
<div class="container">
  <div class="col-sm-offset-4 col-sm-4" align="center">
      <span class="label label-default">Castro</span>
      <span class="label label-default">Chinatown</span>
      <span class="label label-default">Dogpatch</span>
      <span class="label label-default">Embarcadero</span>
      <span class="label label-default">Financial District</span>
      <span class="label label-default">Haight</span>
      <span class="label label-default">Hayes Valley</span>
      <span class="label label-default">Marina</span>
      <span class="label label-default">Mission</span>
      <span class="label label-default">Mission Bay</span>
      <span class="label label-default">Nob Hill</span>
      <span class="label label-default">Noe Valley</span>
      <span class="label label-default">Richmond</span>
      <span class="label label-default">Russian Hill</span>
      <span class="label label-default">Sunset</span>
      <span class="label label-default">Tenderloin</span>
      <hr>
  </div>
</div>
<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    <% @posts.each do |post| %>
      <h4><%= link_to post.title, post_path(post) %></h4>
        <p class="preview_text"><small>I really want to find a way to take the first xx characters of a post and make a preview of it.</small></p>
      <hr>
    <% end %>
  </div>
</div>