/*Place all the styles related to the sessions controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/
*/

/*POSTS.INDEX*/
#homepg_jumbo {
	text-align: center;
	color: white;
}

.app-title {
	color: red;
}

.label {
	background-color: gray;
}

/*POSTS.NEW*/
.form_header {
	text-align: center;
}

#new_post_body {
	resize: none;
	height: 250px;
}

#sub_new_post_btn {
	margin-top: 20px;
}

/*POSTS.EDIT*/
#edit_post_body {
	resize: none;
	height: 250px;
}

#update_post_btn {
	margin-top: 20px;
}

/*POSTS.SHOW*/
#userpic_on_post {
	// border: red solid;
	margin-top: 15px;
}

#border_to_delete {
	border: green solid;
}

#post_body {
	margin-top: 30px;
}

#created_comments {
	margin-top: 20px;
}