#profile-info {
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  margin-top: 25px;
}

#profile-data {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  margin-top: 25px;
}

.preview_text {
	color: #A4A4A4;
}

#homepg_jumbotron {
	background-color: navy;
}

.form {
	text-align: center;
}

