<!-- Neighborhood Name Splash -->
<div class ="jumbotron text-center" style="background: url(<%= asset_url @location[:name] %>); background-position: center; background-size: 100%">
  <div class="container">
   <h1><%= @location[:name] %></h1>
  </div>
</div>


<!-- Page Content -->
<div class="container">

<!-- Neighborhood Navigation Area -->

  <div class="col-sm-12"> <!-- Post Container -->

    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>

    <%= link_to('Add Post', new_post_path, :class => 'btn btn-primary')  %>

</div> <!--Page /.container -->


